# object files, binaries
*.o
RGFSolver
build/
.deps
compile_commands.json
\#*#
# Data Folders
# See data folder .gitignore
bin/
# vim swap file
*.swp

# some OS X rubbish
.DS_Store

# data files
.dat

# Language Server Cache
.ccls-cache/

# Caches
.cache/

# R
.Rhistory
